.login-page-container{
    /* background-color:var(--background-color); */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-border-design-div{
    position: absolute;
    left: 0px;
    height: 100vh;
    width: 50%;
    /* background-color: #FFC913; */
    background-color: #1C2657;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.login-container{
    position: absolute;
    /* border: 1px solid; */
    background-color: #fff;
    height: 100vh;
    right: 0px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
     /* animation: SlideIn 1s ease-in-out; */
}
@keyframes SlideIn {
    from {
      opacity: 0;
      transform: translateX(400px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
.login-div-container{
    height: fit-content;
    padding: 20px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}
/* .login-container{
    border: 1px solid;
    position: absolute;
    height: 100vh;
    width: 50%;
    box-shadow: 0px 0px 4px #ccc;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
} */
.logo-div{
    /* border: 1px solid; */
    align-self: center;
    margin-bottom: 20px;
    /* z-index: 1;
    position: fixed;
    right: 30px;
    top: 30px; */
}
.login-title{
    /* border: 1px solid; */
    align-self: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
}
.login-title h1{
    font-weight: 800;
}
.login-desc{
    /* border: 1px solid; */
    align-self: center;
    margin-bottom: 28px;
    letter-spacing: 0.5px;
}
.login-desc p{
    font-size: 14px;
    text-transform: capitalize;
}
.login-form-container{
    /* border: 1px solid; */
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}
.login-form-field{
    /* border: 1px solid; */
    width: 100%;
    position: relative;

}
.login-form-field input{
    padding: 10px 12px;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
    /* background-color:var(--background-color); */
}

.login-btn-div{
    width: 100%;
}
.login-btn-div button{
    width: 100%;
    padding: 8px 12px;
    /* background-color: #FFC913; */
    background-color:#1C2657;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    min-height: 36px;
    cursor: pointer;
    /* margin-top: 20px; */
    position: relative;
}
.pass-div{
    position: relative;
}
.pass-hidden{
    color: #a4a4a4;
}
.eye-icon{
    position: absolute;
    right: 12px;
    top:8px;
    cursor: pointer;
}

.remember-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: auto;
    /* margin-top: 10px; */
}
.remember-div{
    display: flex;
    align-items: center;
    gap: 6px;
  
}
.remember-div input{
    cursor: pointer;
}
.remember-div input[type='radio']{
    /* accent-color: var(--primary-color); */
    accent-color: #99a5df;
    outline: none;
}
.remember-div span{
    font-size: 12px;
}
.login-forgot-pass-div{
    font-size: 12px;
    cursor: pointer;
      color: #0000FF;

}
.forgot-pass-div:hover{
    text-decoration: underline;
    color: #0000FF;
}


.login-info-div{
    text-align: center;
    /* margin-top: 12px; */
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 28px;
}
.signup-link{
    color: rgb(9, 76, 171);
    font-weight: 600;
    cursor: pointer;
}
.social-login-div p{
    font-size: 14px;
    color: #a1a1a1;
    margin-bottom: 10px;
    cursor: default;
}
.social-icons{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}
.social-icons > div{
    display: inline;
    cursor: pointer;


}
.google-icon{
    padding: 3px;
    padding-bottom: 1px;
    border-radius: 4px;
}
.facebook-icon{
    padding: 6px;
    padding-bottom: 2px;
    border-radius: 4px;
}
.apple-icon{
    padding: 3px;
    border-radius: 4px;
}
.social-icons > div:hover{
    background-color: #eae9e9;
}
