.reset-page-container{
    /* background-color:var(--background-color); */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.border-design-div{
    position: absolute;
    left: 0px;
    height: 100vh;
    width: 50%;
    /* background-color: #FFC913; */
    background-color: #1C2657;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.reset-container{
    position: absolute;
    /* border: 1px solid; */
    background-color: #fff;
    height: 100vh;
    right: 0px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
     animation: SlideIn 1s ease-in-out;
}
@keyframes SlideIn {
    from {
      opacity: 0;
      transform: translateX(400px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
.reset-div-container{
    height: fit-content;
    padding: 20px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
}
/* .login-container{
    border: 1px solid;
    position: absolute;
    height: 100vh;
    width: 50%;
    box-shadow: 0px 0px 4px #ccc;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
} */
.logo-div{
    /* border: 1px solid; */
    align-self: center;
    margin-bottom: 20px;
    /* z-index: 1;
    position: fixed;
    right: 30px;
    top: 30px; */
}
.reset-title{
    /* border: 1px solid; */
    align-self: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}
.reset-title h1{
    font-weight: 800;
}
.reset-desc{
    /* border: 1px solid; */
    align-self: center;
    margin-bottom: 24px;
    letter-spacing: 0.5px;
}
.reset-desc p{
    font-size: 12px;
    text-transform: capitalize;
}
.reset-form-container{
    /* border: 1px solid; */
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}
.reset-form-field{
    /* border: 1px solid; */
    width: 100%;
    position: relative;

}
.reset-form-field input{
    padding: 10px 12px;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
    /* background-color:var(--background-color); */
}

.reset-btn-div{
    width: 100%;
}
.reset-btn-div button{
    width: 100%;
    padding: 8px 12px;
    /* background-color: #FFC913; */
    background-color: #1C2657;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    min-height: 36px;
    cursor: pointer;
    /* margin-top: 20px; */
    position: relative;
}
.pass-div{
    position: relative;
}
.pass-hidden{
    color: #a4a4a4;
}
.eye-icon{
    position: absolute;
    right: 12px;
    top:8px;
    cursor: pointer;
}
.errors-text{
    position: absolute;
    color: rgba(220, 20, 60, 0.712);
    font-size: 9px;
    bottom: -12px;
    left: 0px;
    white-space: nowrap;
    font-weight: 500;
}
.reset-pass-error-text{
    position: absolute;
    color: rgba(220, 20, 60, 0.712);
    font-size: 9px;
    bottom: -22px;
    left: 0px;
    font-weight: 600;
}


